# General
.DS_Store
*.log
*.env
*.env.local
*.env*.local
env.local
# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
.next/
out/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firebase.json
*.key.json
service-account.json

# TypeScript
*.tsbuildinfo
dist/

# Cache
.cache/

